@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Manrope:wght@400;700&family=Space+Mono:wght@700&display=swap");
/* Importing Google Fonts for the project */

:root {
  /* Root variables for color definitions */
  --blue-bg: #3c6fff;
  --white: #ffffff;
  --gray-shadow: #202020;
  --gray-text: #303030;
  --gray-button: #adaeae;
  --light-gray-text: #565b70;
  --light-red: #ffcbcb;
  --error-red: #ff3e3e;
  --light-green: #b9ffd5;
  --success-green: #05c451;
}

* {
  /* Global styles for all elements */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  /* Body styles */
  background: var(--blue-bg);
}

main {
  /* Main content container styles */
  width: min(90%, 31.25em);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: var(--white);
  padding: 4em 2em;
  border-radius: 0.5em;
  box-shadow: -1.5em -1.5em var(--gray-shadow);
  text-align: center;
}

main h3 {
  /* Styles for heading within main content */
  font-size: 1.2em;
  font-weight: 500;
  line-height: 2em;
  color: var(--gray-text);
}

.input-wrapper {
  /* Styles for input and button container */
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1em;
  margin: 3em auto 1.5em auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Styles for removing spin buttons on number input */
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  /* Styles for number input */
  width: 100%;
  padding: 1em;
  font-size: 1.2em;
  text-align: center;
  border: 2px solid var(--gray-button);
  border-radius: 0.3em;
}

button {
  /* Styles for generic button */
  font-size: 1em;
  background-color: var(--blue-bg);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 0.5em;
  font-weight: 500;
  cursor: pointer;
}

#check-btn {
  /* Styles for specific 'check' button and its hover effect */
  transition: background-color 0.2s;
}

#check-btn:hover {
  background-color: #3c42ff;
}

#restart {
  /* Styles for restart button */
  margin: 0 auto 0 auto;
  padding: 0.8em 1em;
  display: none;
}

.result {
  /* Styles for result container */
  margin-top: 1em;
}

p {
  /* Styles for paragraphs */
  font-size: 1em;
  font-weight: 400;
  color: var(--light-gray-text);
  word-break: break-all;
}

.error,
.success {
  /* Styles for error and success messages */
  padding: 0.5em 0;
  border-radius: 0.3em;
  margin-bottom: 1em;
  animation: pop 0.4s forwards;
  transform: scale(0);
}

.error {
  background-color: var(--light-red);
  color: var(--error-red);
}

.success {
  background-color: var(--light-green);
  color: var(--success-green);
}

@keyframes pop {
  /* Keyframes for pop-in animation */
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
